body{
  background-color: rgb(250, 250, 250);
}
.test {
  display: flex;
  justify-content: center;
}

#itemSummary {
  display: flex;
  flex-direction: column;
  position: sticky;
  align-self: flex-start;
  top: 0%;
  justify-content: right;
}

#related-products {
  display: flex;
  justify-content: center;
}

#reviews {
  display: flex;
  justify-content: center;
}