body{
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 250, 250);
}
.test {
  display: flex;
  justify-content: center;
}

#itemSummary {
  display: flex;
  flex-direction: column;
  position: sticky;
  align-self: flex-start;
  top: 17%;
  justify-content: right;
  margin-right: 50px;
}

#related-products {
  display: flex;
  justify-content: center;
}

#reviews {
  display: flex;
  justify-content: center;
}

.header {
  /* display: flex;
  align-self: flex-start; */
  position: sticky;
  /* -webkit-transform: translateZ(0) */
  top: 0%;
  background-image: url('https://feclululemonpics.s3.us-east-2.amazonaws.com/FEC/Screen+Shot+2019-07-18+at+8.11.18+PM.png');
  height: 150px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index:1;
}

#photos {
  margin-right: 8%;
}